html {
  height:100%;
  background-color : #002F53;
  color : #EEE9E0;
  font-family: arial, verdana, sans-serif;
}

a{
color: #2D999F;
}

#wrapper {
background-color: rgba(0,0,0,0.3);
padding: 2em;
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(216, 216, 194, 0) 0%, rgba(216, 216, 194, 0.2) 25%, rgba(216, 216, 194, 0.2) 75%, rgba(216, 216, 194, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(216, 216, 194, 0.6);
  background: rgba(255, 255, 255, 0.1);
}

.orange {
color: #F25D50;
}